<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Full_UAT_Suite" verbose="1" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="ro.carrefour.ucare.utilities.RetryListener"/>
    </listeners>
    <test name="Homepage_Tests">
        <classes>
            <class name="ro.carrefour.ucare.app.item360.Item360Tests"/>
            <class name="ro.carrefour.ucare.app.HomePageTests"/>
        </classes>
    </test>

    <test name="Item360_Tests">
        <classes>
            <class name="ro.carrefour.ucare.app.item360.Item360Tests"/>
        </classes>
    </test>
</suite>